.menu{
    background: #13a4a4;
}

.menu-nav{
    list-style: none;
}

.menu-nav__item{
    display: inline-block;
    margin-right: 60px;
    
}

.menu-nav__item a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    
}

/*Seudoclases*/

.menu-nav__item a:hover{
    color: white;
    background: #000000a9;
}

.menu-nav__item a:active{
    color: #7171c1;
}

/*SEUDOELEMENTOS*/

.menu-nav__item a::after{
    content: " | ";
}